################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/77ef0c83-9e7e-4f79-be31-172938adaa1e.vsidx
/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/0f8b6c5d-2969-4ac1-bbb2-7711d2234a37.vsidx
/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/baec1b5b-7c97-4712-9feb-8991ab179eee.vsidx
*.vsidx
/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/c5eb7e88-7ee6-4263-83f1-1312ee14fe34.vsidx
/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/b65c8e1b-965e-43a0-9562-7c6c0cd7e37d.vsidx
