################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_2.var26/.vs/Lab_2.var26.slnx/FileContentIndex/77ef0c83-9e7e-4f79-be31-172938adaa1e.vsidx
